<h3 appFontStyle>
    Add User
</h3>
<form [formGroup]="userForm" (ngSubmit)="onsubmit()">
    <div class="grid">
        <div class="col-4">
            <mat-form-field class="w-full">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput type="text">
            </mat-form-field>
        </div>
        <div class="col-4">
            <mat-form-field class="w-full">
                <mat-label>LastName</mat-label>
                <input formControlName="lastName" matInput type="text">
            </mat-form-field>
        </div>
        <div class="col-4">
            <mat-form-field class="w-full">
                <mat-label>Age</mat-label>
                <input formControlName="age" matInput type="text">
            </mat-form-field>
        </div>

        <div class="col-4">
            <mat-form-field class="w-full">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput type="email">
            </mat-form-field>
        </div>
        <div class="col-4">
            <mat-form-field class="w-full">
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput type="password">
            </mat-form-field>
        </div>
        <div class="col-4">
            <mat-form-field class="w-full">
                <mat-label >Role</mat-label>
                <mat-select formControlName="role">
                    <mat-option value="ADMIN">ADMIN</mat-option>
                    <mat-option value="USER">USER</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="col-12 flex justify-content-end">
        <button mat-flat-button color="primary">Add User</button>
    </div>

</form>